<h1>Add a book to $author.getTitle()</h1>

<form action="/books" method="post">
  <input id="authorId" name="authorId" type="hidden" value="$author.getId()">

  <div class="form-group">
    <label for="title">Book</label>
    <input id="title" name="title" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add book</button>
</form>
