<h1>Add a author</h1>

<p>Add a author here:</p>

<form action="/authors" method="post">
  <label for="name">author name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add author</button>
</form>
