<head>
    <title>University Registrar</title>
</head>
<body>
    <h1 class="text-center">Welcome to the University Registrar</h1>

    <h3><a href="/courses">Add or view a course   <span class="glyphicon glyphicon-book"></a></h3>

    <h3><a href="/students">Add or view a student   <span class="glyphicon glyphicon-user"></span></a></h3>

</body>
