<head>
    <title>Library Catalog</title>
</head>
<body>
    <h1 class="text-center">Welcome to the Library Catalog</h1>

    <h3><a href="/authors">Add or view an author   <span class="glyphicon glyphicon-user"></a></h3>

    <h3><a href="/books">Add or view a book   <span class="glyphicon glyphicon-book"></span></a></h3>

</body>
