<h4>You are logged in as $patron.getName()</h4>

      <h4><a href="/">Check out a book   <span class="glyphicon glyphicon-book"></span></a></h4>
      <h4><a href="/">Checked Out   <span class="glyphicon glyphicon-check"></span></a></h4>
      <h4><a href="/">History   <span class="glyphicon glyphicon-list"></span></a></h4>
